.DS_Store
node_modules/
server/public/static/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
server/node_modules/
server/localdb/data/*
!server/localdb/data/README.md
server/localdb/log/*
!server/localdb/log/README.md
server/logs/*
!server/logs/README.md
server/api/doc/*
server/public/unpackage/release/
server/api/filter/output/*