<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/stock-list.css" />
		<style type="text/css">
			.search-bar,
			.mui-control-content {
				background-color: rgb(36, 37, 42);
			}
			
			#slider,
			.search-result li.mui-active {
				background-color: rgb(45, 50, 56);
			}
			
			.search-bar {
				padding: 6px 10px;
			}
			
			.search-bar input {
				background-color: rgba(255, 255, 255, 0.2);
				margin-bottom: 0;
			}
			
			.mui-search:before,
			.mui-icon-search:before,
			#slider,
			.search-bar input {
				color: #ddd;
			}
			
			.mui-table-view {
				background-color: transparent;
			}
			
			.search-result {
				position: absolute;
				top: 50px;
				left: 0px;
				right: 0px;
				z-index: 9;
				background-color: rgb(45, 50, 56);
				color: #ddd;
			}
			
			.search-result li {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 30px;
				padding: 0 10px;
				font-size: 14px;
				line-height: 16px;
			}
			
			.mui-search.mui-active:before {
				margin-top: -10px;
			}
			
			.mui-control-content {
				min-height: 400px;
				border: none;
			}
			
			.mui-control-content .mui-loading {
				margin-top: 50px;
			}
			
			.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
				border: none;
			}
		</style>
		<style type="text/css">
			.mui-pull-top-tips {
				position: absolute;
				top: -20px;
				left: 50%;
				margin-left: -25px;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				z-index: 1;
			}
			.mui-bar~.mui-pull-top-tips {
				top: 24px;
			}
			.mui-pull-top-wrapper {
				width: 42px;
				height: 42px;
				display: block;
				text-align: center;
				background-color: #efeff4;
				border: 1px solid #ddd;
				border-radius: 25px;
				background-clip: padding-box;
				box-shadow: 0 4px 10px #bbb;
				overflow: hidden;
			}
			.mui-pull-top-tips.mui-transitioning {
				-webkit-transition-duration: 200ms;
				transition-duration: 200ms;
			}
			.mui-pull-top-tips .mui-pull-loading {
				/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
				
				margin: 0;
			}
			.mui-pull-top-wrapper .mui-icon,
			.mui-pull-top-wrapper .mui-spinner {
				margin-top: 7px;
			}
			.mui-pull-top-wrapper .mui-icon.mui-reverse {
				/*-webkit-transform: rotate(180deg) translateZ(0);*/
			}
			.mui-pull-bottom-tips {
				text-align: center;
				background-color: #efeff4;
				font-size: 15px;
				line-height: 40px;
				color: #777;
			}
			.mui-pull-top-canvas {
				overflow: hidden;
				background-color: #fafafa;
				border-radius: 40px;
				box-shadow: 0 4px 10px #bbb;
				width: 40px;
				height: 40px;
				margin: 0 auto;
			}
			.mui-pull-top-canvas canvas {
				width: 40px;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<div id="searchBar" class="search-bar">
				<div class="mui-input-row mui-search">
					<input v-model="searchValue" type="search" class="mui-input-clear" placeholder="搜索股票代码/拼音/名字">
				</div>
			</div>
			<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-negative">
					<a class="mui-control-item mui-active" href="#item1mobile">
						热股推荐
					</a>
					<a class="mui-control-item" href="#item2mobile">
						涨股推荐
					</a>
					<a class="mui-control-item" href="#item3mobile">
						机构推荐
					</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
				<div id="muiSliderGroup" class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scrollHotStock" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div id="hotStock"></div>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div id="scrollBurstStock" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div id="burstStock"></div>
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div id="scrollInstitutionConcern" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div id="institutionConcern"></div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.min.js"></script>
		<script src="../../js/lodash.min.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/stock.js"></script>
		<script id="searchBarTemplate" type="x-template">
			<div id="searchBar" class="search-bar">
				<div class="mui-input-row mui-search">
					<input v-model="searchValue" type="search" class="mui-input-clear" placeholder="搜索股票代码/拼音/名字">
				</div>
				<ul class="mui-table-view search-result" v-show="searchResult.length > 0">
					<li class="mui-table-view-cell" v-for="item in searchResult" @click="viewDetail(item)">
						<span>{{item.key}}</span>|
						<span>{{item.code}}</span>|
						<span>{{item.name}}</span>
					</li>
				</ul>
			</div>
		</script>
		<script id="hotStockTemplate" type="x-template">
			<div id="hotStock">
				<ul class="mui-table-view stock-list" v-if="list.length > 0">
					<li class="mui-table-view-cell list-title">
						<span style="width: 20%;text-align: center;">名称</span>
						<span style="display: flex;width: 79.9%;justify-content: space-around;">
							<span>最新价</span>
							<span>跌涨额</span>
							<span>跌涨幅</span>
							<span>5分钟涨速</span>
						</span>
					</li>
					<li class="mui-table-view-cell" v-for="item in list" @click="viewDetail(item)" :style="{color: item.diff > 0 ? 'red':'#ddd'}">
						<span style="width: 20%;text-align: center;">{{item.name}}</span>
						<span style="display: flex;width: 79.9%;justify-content: space-around;">
							<span>{{item.price}}</span>
							<span>{{item.diff > 0 ? '+' + item.diff : item.diff}}</span>
							<span>{{item.dayPercent > 0 ? '+' + item.dayPercent : item.dayPercent}}%</span>
							<span>{{item.fiveMinutePercent > 0 ? '+' + item.fiveMinutePercent : item.fiveMinutePercent}}%</span>
						</span>
					</li>
				</ul>
				<div class="loading-tip" v-else @click="update" v-html="tip"></div>
			</div>
		</script>
		<script id="burstStockTemplate" type="x-template">
			<div id="burstStock">
				<ul class="mui-table-view stock-list" v-if="updated">
					<li class="mui-table-view-cell list-title">
						<span style="width: 20%;text-align: center;">名称</span>
						<span style="display: flex;width: 79.9%;justify-content: space-around;">
							<span>最新价</span>
							<span>涨跌额</span>
							<span>涨跌幅</span>
							<span>涨额预测</span>
							<span>涨幅预测</span>
						<!--<span>监控日期</span>-->
						</span>
					</li>
					<li class="mui-table-view-cell" v-for="item in list" @click="viewDetail(item)" :style="{color: item.rate > 0 ? 'red':'#ddd'}">
						<span style="width: 20%;text-align: center;">{{item.name}}</span>
						<span style="display: flex;width: 79.9%;justify-content: space-around;">
							<span>{{item.price}}</span>
							<span>{{item.diff > 0 ? '+' + item.diff : item.diff}}</span>
							<span>{{item.rate > 0 ? '+' + item.rate : item.rate}}%</span>
							<span>{{item.burstValue > 0 ? '+' + item.burstValue : item.burstValue}}</span>
							<span>{{item.burstRate > 0 ? '+' + item.burstRate : item.burstRate}}</span>
						<!--<span>{{item.date}}</span>-->
						</span>
					</li>
				</ul>
				<div class="loading-tip" v-else @click="init">{{tip}}</div>
			</div>
		</script>
		<script id="institutionConcernTemplate" type="x-template">
			<div id="institutionConcern">
				<ul class="mui-table-view stock-list" v-if="updated">
					<li class="mui-table-view-cell list-title">
						<span style="width: 20%;text-align: center;">名称</span>
						<span style="display: flex;width: 79.9%;justify-content: space-around;">
							<span>最新价</span>
							<span>涨跌额</span>
							<span>涨跌幅</span>
							<!--<span>藏/买/持/中/减/卖</span>-->
							<span>平均/最新</span>
						</span>
					</li>
					<li class="mui-table-view-cell" v-for="item in list" @click="viewDetail(item)" :style="{color: item.rate > 0 ? 'red':'#ddd'}">
						<span style="width: 20%;text-align: center;">{{item.name}}</span>
						<span style="display: flex;width: 79.9%;justify-content: space-around;">
							<span>{{item.price}}</span>
							<span>{{item.diff > 0 ? '+' + item.diff : item.diff}}</span>
							<span>{{item.rate > 0 ? '+' + item.rate : item.rate}}%</span>
							<!--<span>{{item.concern}}/{{item.buy}}/{{item.keep}}/{{item.neuter}}/{{item.reduce}}/{{item.sale}}</span>-->
							<span>{{item.average}}/{{item.recent}}</span>
						</span>
					</li>
				</ul>
				<div class="loading-tip" v-else @click="init">{{tip}}</div>
			</div>
		</script>
		<script type="text/javascript">
			(function($, doc) {
				$.init();
				doc.getElementById("muiSliderGroup").style.height = (window.screen.height - (46 + 38 + 2 + 51 + 30)) + 'px';
				var sliderProgressBar = doc.getElementById("sliderProgressBar");

				function viewDetail(stock) {
					var wv = $.openWindow({
						url: 'stock-detail.html',
						id: 'stockDetail',
						styles: {
							hardwareAccelerated: true, // 启动硬件加速
							bounce: 'vertical' // 下拉回弹
						},
						show: {
							event: 'loaded',
							duration: 300
						},
						waiting: {
							autoShow: false
						}
					});
					wv.addEventListener('loaded', function() {
						$.fire(wv, 'loadStockInfo', {
							stock: {
								code: stock.code,
								name: stock.name
							}
						})
					});
				}
				var vmSearch = new Vue({
					el: '#searchBar',
					template: '#searchBarTemplate',
					data: {
						searchValue: '',
						searchResult: []
					},
					methods: {
						searchStock: function() {
							var url = 'http://suggest3.sinajs.cn/suggest/type=&name=suggestdata&key=' + encodeURI(vmSearch.searchValue);
							if(vmSearch.searchValue.length > 0) {
								Server.send(url, function(res) {
									if(typeof res === 'object') {
										vmSearch.searchStock();
										return;
									}
									vmSearch.searchResult.splice(0);
									try {
										var result = res.match(/"(.+)"/);
										if(result && result[1]) {
											var list = result[1].split(';');
											var item = [];
											for(var i = 0; i < list.length; i++) {
												item = list[i].split(',');
												if(item && item.length > 0) {
													vmSearch.searchResult.push({
														key: item[0],
														code: item[3],
														name: item[4]
													});
												}
											}
										}
									} catch(err) {
										console.error(err)
									}
								}, 'get', 'text');
							} else {
								vmSearch.searchResult.splice(0);
							}
						},
						viewDetail: function(stock) {
							viewDetail(stock);
							setTimeout(function() {
								vmSearch.searchValue = '';
							}, 1000);
						}
					}
				})
				vmSearch.$watch('searchValue', _.debounce(vmSearch.searchStock, 200));

				var vmHotStock = new Vue({
					el: '#hotStock',
					template: '#hotStockTemplate',
					data: {
						list: [],
						tip: '加载中'
					},
					methods: {
						viewDetail: viewDetail,
						update: function() {
							this.tip = '加载中';
							var url = 'http://hq.sinajs.cn/format=text&list=stock_hs_up_5min_20';
							Server.send(url, function(res) {
								if(typeof res === 'object') {
									vmHotStock.update();
									return;
								}
								try {
									var result = res.match(/\[.+\]/);
									if(result) {
										var list = eval(result[0]);
										var codes = [];
										for(var i = 0; i < list.length; i++) {
											codes.push(list[i].symbol);
										}
										Stock.realTime(codes, function(err, data) {
											if(err) {
												if(err === 'timeout') {
													vmHotStock.update();
												} else {
													console.log('HotStock update realtime fail: ' + err);
													vmHotStock.tip = '点击重试';
												}
												return;
											}
											vmHotStock.list.splice(0);
											var item = {};
											for(var i = 0; i < list.length; i++) {
												item = data.stocks[list[i].symbol];
												vmHotStock.list.push({
													code: list[i].symbol,
													name: list[i].name,
													price: item.current === undefined ? Stock.parsePrice(list[i].trade) : item.current,
													diff: item.diff === undefined ? Stock.parsePrice(list[i].trade - list[i].old_trade) : item.diff,
													dayPercent: item.rate === undefined ? Stock.parsePrice(list[i].day_percent) : item.rate,
													fiveMinutePercent: Stock.parsePrice(list[i].percent)
												})
											}
//											$('#scrollHotStock').pullToRefresh().endPullDownToRefresh();
										})
									} else {
										vmHotStock.tip = '开市5分钟后才有热股推荐<br /><br />点击重试';
//										$('#scrollHotStock').pullToRefresh().endPullDownToRefresh();
										return;
									}
								} catch(err) {
									console.error('E001', err)
								}
							}, 'get', 'text');
						}
					}
				})

				var vmBurstStock = new Vue({
					el: '#burstStock',
					template: '#burstStockTemplate',
					data: {
						list: [],
						codes: [],
						timer: null,
						expired: 0,
						tip: '加载中',
						updated: false
					},
					methods: {
						init: function() {
							var url = 'http://dp.sina.cn/dpool/stock_new/v2/big_stock.php?vt=15';
							this.tip = '加载中';
							this.expired = new Date(); // 当init时，防止tab切换过程中重复调用init
							if(this.timer) {
								clearTimeout(this.timer);
								this.timer = null;
							} // 在init时，不再需要update realtime
							this.updated = false; // 未更新realtime，同时显示加载中
							Server.send(url, function(html) {
								if(typeof html === 'object') {
									vmBurstStock.init();
									return;
								}
								var list = html.match(/<a.+?code.+/g);
								if(list) {
									var item = [];
									var code = '';
									vmBurstStock.list.splice(0);
									vmBurstStock.codes.splice(0);
									for(var i = 0; i < list.length; i++) {
										item = list[i].match(/code=(.+?)&.+?>(.+?)<.+?([\d.%]+).+?([\d.%]+).+?([\d-]+)/);
										code = item[1].substr(0, 1) === '6' ? 'sh' + item[1] : 'sz' + item[1];
										vmBurstStock.codes.push(code);
										vmBurstStock.list.push({
											code: code,
											name: item[2],
											burstRate: item[3],
											burstValue: item[4],
											date: item[5],
											price: 0,
											diff: 0,
											rate: 0
										})
									}
									vmBurstStock.update();
									setInterval(vmBurstStock.update, 60000);
								} else {
									console.log('BurstStock match list fail');
									vmBurstStock.tip = '点击重试';
									vmBurstStock.expired = 0;
								}
							}, 'get', 'text');
						},
						update: function() {
							Stock.realTime(this.codes, function(err, data) {
								if(err) {
									if(err === 'timeout') {
										vmBurstStock.update.call(vmBurstStock);
									} else {
										console.error('BurstStock fetch realtime fail: ' + err);
										vmBurstStock.tip = '点击重试';
									}
									return;
								}
								for(var i = 0; i < vmBurstStock.list.length; i++) {
									if(data.stocks[vmBurstStock.list[i].code]) {
										var stock = data.stocks[vmBurstStock.list[i].code];
										vmBurstStock.list[i].price = stock.current;
										vmBurstStock.list[i].diff = stock.diff;
										vmBurstStock.list[i].rate = stock.rate;
									}
								}
								vmBurstStock.updated = true;
							})
						},
						viewDetail: viewDetail
					}
				})

				var vmInstitutionConcern = new Vue({
					el: '#institutionConcern',
					template: '#institutionConcernTemplate',
					data: {
						list: [],
						codes: [],
						timer: null,
						expired: 0,
						tip: '加载中',
						updated: false
					},
					methods: {
						init: function() {
							var url = 'http://dp.sina.cn/dpool/stock_new/v2/recommend_stock.php?type=org&vt=15&rand=' + new Date().getTime();
							this.tip = '加载中'
							this.expired = new Date(); // 当init时，防止tab切换过程中重复调用init
							if(this.timer) {
								clearTimeout(this.timer);
								this.timer = null;
							} // 在init时，不再需要update realtime
							this.updated = false; // 未更新realtime，同时显示加载中
							Server.send(url, function(html) {
								if(typeof html === 'object') {
									vmInstitutionConcern.init();
									return;
								}
								var body = html.match(/<body>[\n\W\w.]+<\/body>/);
								if(body) {
									var list = body[0].match(/<a.+?code[\W\w]+?\n[\W\w].+/g);
									if(list) {
										var item = [];
										var code = '';
										vmInstitutionConcern.list.splice(0);
										vmInstitutionConcern.codes.splice(0);
										for(var i = 0; i < list.length; i++) {
											item = list[i].match(/code=(.+?)&.+?>(.+?)<.+?(\d+).+?([\u4e00-\u9fa5]+).+?([\u4e00-\u9fa5]+)[\W\w]+?\n.+?(\d+).+?(\d+).+?(\d+).+?(\d+).+?(\d+)/);
											code = item[1].substr(0, 1) === '6' ? 'sh' + item[1] : 'sz' + item[1];
											vmInstitutionConcern.codes.push(code);
											vmInstitutionConcern.list.push({
												code: code,
												name: item[2],
												concern: item[3],
												average: item[4],
												recent: item[5],
												buy: item[6],
												keep: item[7],
												neuter: item[8],
												reduce: item[9],
												sale: item[10],
												price: 0,
												diff: 0,
												rate: 0
											})
										}
										vmInstitutionConcern.update();
										setInterval(vmInstitutionConcern.update, 60000);
									} else {
										console.log('InstitutionConcern match list fail: ' + body[0]);
										vmInstitutionConcern.tip = '点击重试';
										vmInstitutionConcern.expired = 0;
									}
								} else {
									console.log('InstitutionConcern match body fail: ' + html);
									vmInstitutionConcern.tip = '点击重试';
									vmInstitutionConcern.expired = 0;
								}
							}, 'get', 'text');
						},
						update: function() {
							Stock.realTime(this.codes, function(err, data) {
								if(err) {
									if(err === 'timeout') {
										vmInstitutionConcern.update.call(vmInstitutionConcern);
									} else {
										console.error('InstitutionConcern fetch realtime fail: ' + err);
										vmInstitutionConcern.tip = '点击重试';
									}
									return;
								}
								for(var i = 0; i < vmInstitutionConcern.list.length; i++) {
									if(data.stocks[vmInstitutionConcern.list[i].code]) {
										var stock = data.stocks[vmInstitutionConcern.list[i].code];
										vmInstitutionConcern.list[i].price = stock.current;
										vmInstitutionConcern.list[i].diff = stock.diff;
										vmInstitutionConcern.list[i].rate = stock.rate;
									}
								}
								vmInstitutionConcern.updated = true;
							})
						},
						viewDetail: viewDetail
					}
				});

				$('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: true, //是否显示滚动条
					deceleration: $.os.ios?0.003:0.0009
				});
			
				
				$.plusReady(function() {
					vmHotStock.update();
					setInterval(vmHotStock.update, 60000);
				});

				doc.getElementById('slider').addEventListener('slide', function(e) {
					var now = new Date();
					sliderProgressBar.style.transform = 'translate3d(' + (e.detail.slideNumber * sliderProgressBar.clientWidth) + 'px, 0px, 0px) translateZ(0px)';
					switch(e.detail.slideNumber) {
						case 0:
							break;
						case 1:
							if(now - vmBurstStock.expired > 300000) {
								vmBurstStock.init();
							}
							break;
						case 2:
							if(now - vmInstitutionConcern.expired > 300000) {
								vmInstitutionConcern.init();
							}
							break;
					}
				});
			})(mui, document);
		</script>
	</body>

</html>