<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/stock-list.css" />
		<style type="text/css">
			#stockQuotation ul {
				background-color: rgb(36, 37, 42);
			}
			
			.chart {
				height: 200px;
				width: 100%;
				margin: 0px;
				padding: 0px;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<!--大盘数据-->
			<div class="bar-title">
				大盘指数
				<a id="refreshBroaderIndex" class="mui-icon mui-icon mui-icon-refreshempty mui-pull-right"></a>
			</div>
			<div id="broaderIndex" class="chart"></div>
			<!--关注的股票数据-->
			<div class="bar-title">
				我的关注
				<a id="addStockConcern" class="mui-icon mui-icon-plusempty mui-pull-right"></a>
			</div>
			<div id="stockQuotation"></div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../libs/echarts.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/broader-index.js"></script>
		<script src="../../js/stock.js"></script>
		<script src="../../js/vue.min.js"></script>
		<script id="stockQuotationTemplate" type="x-template">
			<div id="stockQuotation">
				<ul class="mui-table-view stock-list" v-if="list.length > 0">
					<li class="mui-table-view-cell list-title">
						<span style="width: 20%;text-align: center;">名称</span>
						<span style="display: flex;width: 79.9%;justify-content: space-around;">
							<span>最新价</span>
							<span>昨收价</span>
							<span>涨跌额</span>
							<span>涨跌幅</span>
						</span>
						<!--<span style="min-width: 200px;text-align: center;">千股千评</span>-->
					</li>
					<li class="mui-table-view-cell view-vertical-split" v-for="item in list" @click="viewDetail(item)" :style="{color: item.rate > 0 ? 'red':'#ddd'}">
						<div class="view-horizontal-split">
							<span style="width: 22%;text-align: center;">{{item.name}}</span>
							<span style="display: flex;width: 77.9%;justify-content: space-around;">
								<span>{{item.price}}</span>
								<span>{{item.close}}</span>
								<span>{{item.diff > 0 ? '+' + item.diff : item.diff}}</span>
								<span>{{item.rate > 0 ? '+' + item.rate: item.rate}}%</span>
							</span>
						</div>
						<div class="view-horizontal-split" style="font-size: 14px;color: #aaa;">
							<span style="width: 22%;text-align: center;">千股千评</span>
							<span style="display: flex;width: 77.9%;justify-content: space-around;">
								<span v-if="thousandEvaluate[item.code] && thousandEvaluate[item.code].length > 0" >
									{{thousandEvaluate[item.code]}}
								</span>
								<span v-else @click.stop="getThousandEvaluate(item.code)">点击获取</span>
							</span>
						</div>
					</li>
				</ul>
				<div class="loading-tip" v-else>{{tip}}</div>
			</div>
		</script>
		<script type="text/javascript">
			(function($, doc) {
				$.init();
				// 我的关注列表组件
				var vmConcern = new Vue({
					el: '#stockQuotation',
					template: '#stockQuotationTemplate',
					data: {
						list: [],
						stocks: [],
						thousandEvaluate: {},
						timer: null,
						tip: '加载中...'
					},
					methods: {
						init: function() {
							var concern = App.getConcern();
							if(!concern || !concern.stockIds) {
								console.error('无法获取用户关注的股票');
								this.tip = '请添加关注';
								return;
							} else if(concern.stockIds.length === 0) {
								this.tip = '请添加关注';
								return;
							} else {
								this.stocks = concern.stockIds;
							}
							for(var i = 0; i < this.stocks.length; i++) {
								this.getThousandEvaluate(this.stocks[i]);
							}
							this.update();
							if(this.timer) clearTimeout(this.timer);
							this.timer = setInterval(this.update, 60000);
						},
						getThousandEvaluate: function(code) {
							var msg = vmConcern.thousandEvaluate[code];
							if(!msg || msg.length === 0) {
								Vue.set(vmConcern.thousandEvaluate, code, '加载点评中');
								Stock.thousandEvaluate(code, function(err, data) {
									if(err) {
										Vue.set(vmConcern.thousandEvaluate, code, '');
									} else {
										Vue.set(vmConcern.thousandEvaluate, code, data.msg);
										vmConcern.thousandEvaluate[code].expired = new Date();
									}
								})
							}
						},
						update: function() {
							Stock.realTime(this.stocks, function(err, info) {
								if(err) {
									vmConcern.update();
									return;
								}
								var item = {};
								vmConcern.list.splice(0);
								for(code in info.stocks) {
									item = info.stocks[code];
									vmConcern.list.push({
										code: item.code,
										name: item.name,
										price: item.current,
										rate: item.rate,
										diff: item.diff,
										open: item.open,
										close: item.close
									})
								}
								vmConcern.list.sort(function(a, b){ // 按rate从大到小排序
									return b.rate - a.rate;
								});
							});
						},
						viewDetail: function(stock) {
							var wv = $.openWindow({
								url: 'stock-detail.html',
								id: 'stockDetail',
								styles: {
									hardwareAccelerated: true, // 启动硬件加速
									bounce: 'vertical' // 下拉回弹
								},
								show: {
									event: 'loaded',
									duration: 300
								},
								waiting: {
									autoShow: false
								}
							});
							wv.addEventListener('loaded', function() {
								$.fire(wv, 'loadStockInfo', {
									stock: {
										code: stock.code,
										name: stock.name
									}
								})
							})
						}
					}
				})
				$.plusReady(function() {
					// 初始化大盘数据
					function initBroaderIndex() {
						InitBroaderIndex($, doc.getElementById('broaderIndex'), [{
								name: '沪A',
								code: 'sh000001'
							},
							{
								name: '深A',
								code: 'sz399001'
							}
						]);
					}
					doc.getElementById('refreshBroaderIndex').addEventListener('tap', initBroaderIndex);
					doc.getElementById('addStockConcern').addEventListener('tap', function() {
						var main = plus.webview.getWebviewById('main');
						$.fire(main, 'switchTab', 'tabConcern');
					});
					setTimeout(initBroaderIndex, 500);
				});
				
				/**
				 * 用户登录后加载我的关注
				 */
				window.addEventListener('resetUserInfo', function(){
					vmConcern.init();
				});
				/**
				 * 关注列表更新后加载我的关注
				 */
				window.addEventListener('concernUpdated', vmConcern.init);

			})(mui, document);
		</script>
	</body>

</html>