<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/stock-tip.css" />
		<style type="text/css">
			#slider {
				background-color: rgb(36, 37, 42);
			}
			
			.mui-slider .mui-slider-group .mui-slider-item img {
				height: 200px;
			}
		</style>
	</head>

	<body>
		<div id="slider" class="mui-slider">
			<div class="mui-slider-group mui-slider-loop">
				<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#">
						<img src="../../images/img1.jpg">
					</a>
				</div>
				<!-- 第一张 -->
				<div class="mui-slider-item">
					<a href="#">
						<img src="../../images/img2.jpg">
					</a>
				</div>
				<!-- 第二张 -->
				<div class="mui-slider-item">
					<a href="#">
						<img src="../../images/img1.jpg">
					</a>
				</div>
				<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#">
						<img src="../../images/img2.jpg">
					</a>
				</div>
			</div>
			<div class="mui-slider-indicator">
				<div class="mui-indicator mui-active"></div>
				<div class="mui-indicator"></div>
			</div>
		</div>

		<!--千股千评-->
		<div class="bar-title">
			变动提醒
			<!--<a id="refreshStockTip" class="mui-icon mui-icon mui-icon-refreshempty mui-pull-right"></a>-->
		</div>

		<!--下拉刷新容器-->
		<div id="refreshContainer" class="mui-content mui-scroll-wrapper" style="top:230px">
			<div class="mui-scroll">
				<div id="stockTip" class="loading-tip">加载中</div>
			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.min.js"></script>
		<script src="../../js/circle-refresh.js"></script>
		<!--<script src="http://vuejs.org/js/vue.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="../../js/app.js"></script>
		<script id="stockTipTemplate" type="x-template">
			<div id="stockTip" class="stockTip">
				<ul class="mui-table-view" v-if='list.length > 0'>
					<li v-for="(item, itemIndex) in list" class="mui-table-view-cell view-vertical-split" :valuation="item.valuation">
						<div class="stockTip-title">{{item.name}}({{item.code}})</div>
						<div class="stockTip-content view-vertical-split">
							<div class="stockTip-message">{{item.text}}</div>
							<div class="stockTip-param" v-html="parseParamsHtml(item.params)"></div>
							<div class="stockTip-info view-horizontal-split">
								<span>來自：{{item.from}}</span>
								<span class="view-horizontal-split">
									<span @click="thumb('up', itemIndex)" :class="{thumbs:true, up: true, fill:item.isThumbsUp}"></span>
									<span style="margin-left: 5px;">({{item.thumbsUp}})</span>
								</span>
								<span class="view-horizontal-split">
									<span @click="thumb('down', itemIndex)" :class="{thumbs:true, down: true, fill:item.isThumbsDown}"></span>
									<span style="margin-left: 5px;">({{item.thumbsDown}})</span>
								</span>
								<span>{{new Date(item.date).toISOString().replace(/(\d+)-(\d+)-(\d+)T(\d+):(\d+):.+/, '$1/$2/$3 $4:$5')}}</span>
							</div>
						</div>
					</li>
				</ul>
				<div class="loading-tip" v-else>暂无数据</div>
				<div style="width: 100%;text-align: center;height: 30px;" v-show="inLoadmore">
					<div class="mui-pull-loading mui-icon mui-spinner"></div>
				</div>
				<div class="loading-tip" v-show="noMore">没有更多数据</div>
			</div>
		</script>
		<script type="text/javascript">
			(function($, doc) {
				var slider = mui("#slider");
				slider.slider({
					interval: 5000 //自动轮播周期，若为0则不自动播放，默认为0；
				});

				// 配置下拉刷新，刷新函数后面添加
				var CR = new CircleRefresh({
					offset: '230px',
					height: '50px',
					range: '50px',
					color: '#FF0000'
				});
				//				doc.getElementById('refreshStockTip').addEventListener('tap', function() {
				//					CR.doRefresh();
				//				});
				doc.getElementById('refreshContainer').addEventListener('scroll', function(e) {
					CR.setEnabled(e.detail.lastY >= 0);
				});
				$('.mui-scroll-wrapper').scroll({
					//					bounce: false,
					indicators: true, //是否显示滚动条
					deceleration: $.os.ios ? 0.003 : 0.0009
				});

				var vmStockTip = new Vue({
					el: '#stockTip',
					template: '#stockTipTemplate',
					data: {
						pIndex: 0,
						pCount: 5,
						inUpdate: false,
						inLoadmore: false,
						noMore: false,
						list: [
							/*{
								id: '2',
								thumbsUp: 99,
								thumbsDown: 2,
								isThumbsUp: false,
								isThumbsDown: false,
								name: '赤峰黄金',
								code: 'sh600988',
								text: '最新高价',
								type: 'trun',
								valuation: 'good',
								params: {
									'最高价': '12.16',
									'涨幅': '+0.75%'
								},
								date: new Date(),
								from: '价格提醒'
							}*/
						]
					},
					methods: {
						parseParamsHtml: function(params) {
							var innerHTML = '<table>';
							var pLen = 0;
							for(key in params) {
								if(pLen % 2 == 0) innerHTML += '<tr>';
								innerHTML += '<th>' + key + '</th><td>' + params[key] + '</td>';
								if(++pLen % 2 == 0) innerHTML += '</tr>';
							}
							if(pLen % 2 != 0) {
								innerHTML += '<th>-</th><td>-</td></tr>';
							}
							innerHTML += '</table>';
							return innerHTML;
						},
						thumb: function(type, index) {
							if(this.list[index]) {
								Server.send('analysis/worth', {
									token: App.getToken(),
									tipId: this.list[index].id,
									worth: type
								}, function(res) {
									if(res.state === 'ok') {
										vmStockTip.list[index].isThumbsDown = res.data.isThumbsDown;
										vmStockTip.list[index].isThumbsUp = res.data.isThumbsUp;
										vmStockTip.list[index].thumbsUp = res.data.thumbsUp;
										vmStockTip.list[index].thumbsDown = res.data.thumbsDown;
									} else {
										$.toast(res.detail);
									}
								});
							}
						},
						update: function() {
							if(vmStockTip.inUpdate || vmStockTip.inLoadmore) return;
							vmStockTip.inUpdate = true;
							Server.send('analysis/list', {
								token: App.getToken(),
								range: 'my',
								count: vmStockTip.pCount,
								index: 0
							}, function(res) {
								vmStockTip.inUpdate = false;
								if(res.state === 'ok') {
									vmStockTip.pIndex = 0;
									vmStockTip.list.splice(0);
									vmStockTip.list.push.apply(vmStockTip.list, res.data);
									if(res.data.length < vmStockTip.pCount) {
										vmStockTip.noMore = false;
									} else {
										vmStockTip.noMore = true;
									}
								} else {
									$.toast(res.detail);
								}
								CR.endRefresh();
							})
						},
						loadmore: function() {
							if(vmStockTip.inLoadmore || vmStockTip.noMore) return;
							vmStockTip.inLoadmore = true;
							Server.send('analysis/list', {
								token: App.getToken(),
								range: 'my',
								count: this.pCount,
								index: ++this.pIndex
							}, function(res) {
								vmStockTip.inLoadmore = false;
								var isEnd = false;
								if(res.state === 'ok') {
									vmStockTip.list.push.apply(vmStockTip.list, res.data);
									if(res.data.length < vmStockTip.pCount) {
										vmStockTip.noMore = true;
									}
								} else if(res.state === 'timeout') {
									this.pIndex--;
									vmStockTip.loadmore();
									return;
								} else {
									$.toast(res.detail);
								}
							})
						}
					}
				});

				// 设置下来刷新的执行函数
				CR.onRefresh(vmStockTip.update);

				// 上拉刷新
				doc.getElementById('refreshContainer').addEventListener('scrollbottom', function() {
					vmStockTip.loadmore();
				});

				// 用户登录后执行下拉刷新
				window.addEventListener('resetUserInfo', CR.doRefresh);

				// 接收信息推送
				window.addEventListener('receiveMsg', function(event) {
					var msg = event.detail;
					console.log(msg);
				})
			})(mui, document)
		</script>
	</body>

</html>