<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/stock-tip.css" />
		<style type="text/css">
			#stockTip ul,
			.stockTip-content,
			#stockTip ul li.mui-active {
				background-color: rgb(36, 37, 42);
				color: #ddd;
			}
			
			.chart {
				height: 200px;
				width: 100%;
				margin: 0px;
				padding: 0px;
			}
			
			#stockDetail {
				padding: 10px 0;
				color: #ddd;
				font-size: 12px;
				min-height: 100px;
			}
			
			#stockEvaluate {
				padding: 10px 0;
				display: flex;
				justify-content: center;
				align-content: center;
				color: #ddd;
				font-size: 16px;
				min-height: 60px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">加载中</h1>
			<a id="refreshInfo" class="mui-icon mui-icon-refreshempty mui-pull-right"></a>
		</header>
		<div class="mui-content">
			<!--股票图像-->
			<div id="broaderIndex" class="chart"></div>
			<!--股票数据-->
			<div class="bar-title">
				股票详情
				<a id="toggleConcern" class="mui-pull-right">+ 加入关注</a>
			</div>
			<div id="stockDetail" class="loading-tip">加载中</div>
			<!--千股千评-->
			<div class="bar-title">
				股票点评
			</div>
			<div id="stockEvaluate" class="loading-tip">加载中</div>
			<!--形势变动-->
			<div class="bar-title">
				最新变动提醒
				<a class="mui-icon mui-icon-more mui-pull-right"></a>
			</div>
			<!--下拉刷新容器-->
			<div id="refreshContainer" class="mui-content mui-scroll-wrapper" style="top:495px">
				<div class="mui-scroll">
					<div id="stockTip" class="loading-tip">加载中</div>
				</div>
			</div>
		</div>
		<script id="stockDetailTemplate" type="x-template">
			<div id="stockDetail">
				<div class="view-horizontal-split" v-if="stock.code.length > 0">
					<div class="view-vertical-split" :style="{color: stock.diff > 0 ? 'red' : '#afa'}">
						<span style="font-size: 40px;height: 60px;line-height: 60px;text-align: center;">{{stock.current}}</span>
						<div class="view-horizontal-split" style="font-size: 20px;justify-content: space-around;">
							<span>{{stock.diff > 0 ? '+' + stock.diff: stock.diff}}</span>
							<span>{{stock.rate > 0 ? '+' + stock.rate : stock.rate}}%</span>
						</div>
					</div>
					<div class="view-horizontal-split">
						<div class="view-vertical-split">
							<span>今开</span>
							<span>{{stock.open}}</span>
							<span>昨收</span>
							<span>{{stock.close}}</span>

						</div>
						<div class="view-vertical-split">
							<span>成交额</span>
							<span>{{stock.tradePrice}}亿</span>
							<span>成交量</span>
							<span>{{stock.tradeCount}}万</span>
						</div>
						<div class="view-vertical-split">
							<span>最高</span>
							<span>{{stock.max}}</span>
							<span>最低</span>
							<span>{{stock.min}}</span>
						</div>
					</div>
				</div>
				<div class="loading-tip" v-else @click='update'>{{tip}}</div>
			</div>
		</script>
		<script id="stockEvaluateTemplate" type="x-template">
			<div id="stockEvaluate">
				<span v-if="msg.length > 0">{{msg}}</span>
				<div class="loading-tip" v-else @click="update">{{tip}}</div>
			</div>
		</script>
		<script id="stockTipTemplate" type="x-template">
			<div id="stockTip" class="stockTip">
				<ul class="mui-table-view" v-if='list.length > 0'>
					<li class="mui-table-view-cell view-vertical-split" v-for="(item, itemIndex) in list" :valuation="item.valuation" @click="viewDetail(item)">
						<div class="stockTip-title">{{item.name}}({{item.code}})</div>
						<div class="stockTip-content view-vertical-split">
							<div class="stockTip-message">{{item.text}}</div>
							<div class="stockTip-param" v-html="parseParamsHtml(item.params)"></div>
							<div class="stockTip-info view-horizontal-split">
								<span>來自：{{item.from}}</span>
								<span class="view-horizontal-split">
									<span @click.stop="thumb('up', itemIndex)" :class="{thumbs:true, up: true, fill:item.isThumbsUp}"></span>
								<span style="margin-left: 5px;">({{item.thumbsUp}})</span>
								</span>
								<span class="view-horizontal-split">
									<span @click.stop="thumb('down', itemIndex)" :class="{thumbs:true, down: true, fill:item.isThumbsDown}"></span>
								<span style="margin-left: 5px;">({{item.thumbsDown}})</span>
								</span>
								<span>{{new Date(item.createDate).toISOString().replace(/(\d+)-(\d+)-(\d+)T(\d+):(\d+):.+/, '$1/$2/$3 $4:$5')}}</span>
							</div>
						</div>
					</li>
				</ul>
				<div class="loading-tip" v-if="list.length === 0 && !noMore">暂无数据</div>
				<div style="width: 100%;text-align: center;height: 30px;" v-show="inLoadmore">
					<div class="mui-pull-loading mui-icon mui-spinner"></div>
				</div>
				<div class="loading-tip" v-show="noMore">没有更多数据</div>
			</div>
		</script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.min.js"></script>
		<script src="../../libs/echarts.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/broader-index.js"></script>
		<script src="../../js/stock.js"></script>
		<script src="../../js/circle-refresh.js"></script>
		<script type="text/javascript">
			(function($, doc) {
				var _oldEvent = {};
				var ADD_CONCERN = '+ 加入关注',
					REMOVE_CONCERN = '- 取消关注';
				var toggleConcern = document.getElementById("toggleConcern");
				$.init();
				var oldBack = $.back;
				$.back = function() {
					var isAdd = toggleConcern.innerHTML === ADD_CONCERN;
					if(isAdd &&
						_oldEvent.detail.stock &&
						_oldEvent.detail.stock.name &&
						_oldEvent.detail.stock.name.length > 0) {
						$.confirm('是否将【' + _oldEvent.detail.stock.name + '】加入关注？', '加入关注提醒', ['加入关注', '下次再说'], function(event) {
							if(event.index === 0) {
								$.trigger(toggleConcern, 'tap');
							} else {
								oldBack();
							}
						});
					} else {
						oldBack();
					}
				}
				toggleConcern.addEventListener('tap', function() {
					var code = toggleConcern.getAttribute('stockCode');
					if(code) {
						var isAdd = toggleConcern.innerHTML === ADD_CONCERN;
						var w = plus.nativeUI.showWaiting((isAdd ? '加入' : '取消') + '关注中', {
							back: 'none'
						});
						var url = 'concern/stock/' + (isAdd ? 'add' : 'remove');
						Server.send(url, {
							token: App.getToken(),
							stockId: code
						}, function(res) {
							w.close();
							if(res.state === 'ok') {
								toggleConcern.innerHTML = isAdd ? REMOVE_CONCERN : ADD_CONCERN;
								$.toast((isAdd ? '加入' : '取消') + '关注成功');
								var concern = App.getConcern();
								concern.stockIds = res.data;
								App.setConcern(concern);
							} else {
								console.error(res.detail);
								$.toast(res.detail);
							}
						})
					}
				});

				function loadStockInfo(event) {
					_oldEvent = event;
					var stock = event.detail.stock;
					console.log('loadStockInfo: ' + stock.name);
					toggleConcern.setAttribute('stockCode', stock.code);
					var concern = App.getConcern();
					toggleConcern.innerHTML = concern.stockIds.indexOf(stock.code) < 0 ? ADD_CONCERN : REMOVE_CONCERN;
					$('.mui-title')[0].innerHTML = stock.name + '(' + stock.code + ')'
					$.plusReady(function() {
						InitBroaderIndex($, doc.getElementById('broaderIndex'), [{
							name: stock.name,
							code: stock.code
						}]);
						var vmStockDetail = new Vue({
							el: '#stockDetail',
							template: '#stockDetailTemplate',
							data: {
								stock: {
									code: '',
									name: '',
									open: 0,
									close: 0,
									current: 0,
									diff: 0,
									rate: 0,
									MAX: 0,
									MIN: 0,
									max: 0,
									min: 0,
									firstBuyPrice: 0,
									firstSalePrice: 0,
									tradeCount: 0,
									tradePrice: 0,
									buy: [],
									sale: [],
									date: '',
									time: '',
									timestamp: 0
								},
								tip: '加载中'
							},
							mounted: function() {
								this.update(stock.code);
								setInterval(this.update, 60000, stock.code);
							},
							methods: {
								update: function(code) {
									this.tip = '加载中';
									Stock.realTime(code, function(err, info) {
										if(err) {
											if(err === 'timeout') {
												vmStockDetail.update(code);
											} else {
												console.error(err);
												vmStockDetail.tip = '点击重试';
											}
											return;
										}
										if(info.stocks[stock.code]) {
											var obj = info.stocks[stock.code];
											obj.tradeCount = Stock.parsePrice(obj.tradeCount / 1000000);
											obj.tradePrice = Stock.parsePrice(obj.tradePrice / 100000000);
											console.log('stockDetail: ' + JSON.stringify(obj));
											$.extend(true, vmStockDetail.stock, obj);
											vmStockDetail.tip = '';
										} else {
											vmStockDetail.tip = '点击重试';
										}
									});
								}
							}
						});
						var vmStockEvaluate = new Vue({
							el: '#stockEvaluate',
							template: '#stockEvaluateTemplate',
							data: {
								msg: '',
								tip: '加载中'
							},
							mounted: function() {
								this.update();
							},
							methods: {
								update: function() {
									this.tip = '加载中';
									Stock.thousandEvaluate(stock.code, function(err, data) {
										if(err) {
											vmStockEvaluate.tip = '点击重试';
										} else {
											vmStockEvaluate.msg = data.msg + '(' + data.date + ')';
										}
									});
								}
							}
						})
						// 配置下拉刷新，刷新函数后面添加
						var CR = new CircleRefresh({
							offset: '495px',
							height: '50px',
							range: '50px',
							color: '#FF0000'
						});
						doc.getElementById('refreshContainer').addEventListener('scroll', function(e) {
							CR.setEnabled(e.detail.lastY >= 0);
						});
						$('.mui-scroll-wrapper').scroll({
							indicators: true, //是否显示滚动条
							deceleration: $.os.ios ? 0.003 : 0.0009
						});
						var vmStockTip = new Vue({
							el: '#stockTip',
							template: '#stockTipTemplate',
							data: {
								code: '',
								pIndex: 0,
								pCount: 3,
								inUpdate: false,
								inLoadmore: false,
								noMore: false,
								list: []
							},
							mounted: function() {
								this.update();
							},
							methods: {
								parseParamsHtml: function(params) {
									var innerHTML = '<table>';
									var pLen = 0;
									for(key in params) {
										if(pLen % 2 == 0) innerHTML += '<tr>';
										innerHTML += '<th>' + key + '</th><td>' + params[key] + '</td>';
										if(++pLen % 2 == 0) innerHTML += '</tr>';
									}
									if(pLen % 2 != 0) {
										innerHTML += '<th>-</th><td>-</td></tr>';
									}
									innerHTML += '</table>';
									return innerHTML;
								},
								thumb: function(type, index) {
									if(this.list[index]) {
										Server.send('analysis/worth', {
											token: App.getToken(),
											tipId: this.list[index].id,
											worth: type
										}, function(res) {
											if(res.state === 'ok') {
												vmStockTip.list[index].isThumbsDown = res.data.isThumbsDown;
												vmStockTip.list[index].isThumbsUp = res.data.isThumbsUp;
												vmStockTip.list[index].thumbsUp = res.data.thumbsUp;
												vmStockTip.list[index].thumbsDown = res.data.thumbsDown;
											} else {
												$.toast(res.detail);
											}
										});
									}
								},
								update: function() {
									if(this.inUpdate || this.inLoadmore) return;
									this.inUpdate = true;
									Server.send('analysis/list', {
										token: App.getToken(),
										range: stock.code,
										count: this.pCount,
										index: 0
									}, function(res) {
										vmStockTip.inUpdate = false;
										if(res.state === 'ok') {
											vmStockTip.pIndex = 0;
											vmStockTip.list.splice(0);
											vmStockTip.list.push.apply(vmStockTip.list, res.data);
											vmStockTip.noMore = res.data.length < vmStockTip.pCount;
											console.log('noMore' + vmStockTip.noMore);
										} else {
											$.toast(res.detail);
										}
										CR.endRefresh();
									})
								},
								loadmore: function() {
									if(this.inLoadmore || this.noMore) return;
									this.inLoadmore = true;
									Server.send('analysis/list', {
										token: App.getToken(),
										range: stock.code,
										count: this.pCount,
										index: ++this.pIndex
									}, function(res) {
										vmStockTip.inLoadmore = false;
										var isEnd = false;
										if(res.state === 'ok') {
											vmStockTip.list.push.apply(vmStockTip.list, res.data);
											if(res.data.length < vmStockTip.pCount) {
												vmStockTip.noMore = true;
											}
										} else if(res.state === 'timeout') {
											this.pIndex--;
											vmStockTip.loadmore();
											return;
										} else {
											$.toast(res.detail);
										}
									})
								}
							}
						});

						// 设置下来刷新的执行函数
						CR.onRefresh(vmStockTip.update);

						// 上拉刷新
						doc.getElementById('refreshContainer').addEventListener('scrollbottom', function() {
							vmStockTip.loadmore();
						});
					})
				}
				window.addEventListener('loadStockInfo', loadStockInfo);
				doc.getElementById('refreshInfo').addEventListener('tap', function() {
					loadStockInfo(_oldEvent);
				})
			})(mui, document)
		</script>
	</body>

</html>